<% if notice %>
  <p class="alert alert-danger"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<style type="text/css">

  .form-style-2{
  	max-width: 500px;
  	padding: 20px 12px 10px 20px;
  	font: 13px Arial, Helvetica, sans-serif;
  }
  .form-style-2-heading{
  	font-weight: bold;
  	font-style: italic;
  	border-bottom: 2px solid #ddd;
  	margin-bottom: 20px;
  	font-size: 15px;
  	padding-bottom: 3px;
  }
  .form-style-2 label{
  	display: block;
  	margin: 0px 0px 15px 0px;
  }
  .form-style-2 label > span{
  	width: 100px;
  	font-weight: bold;
  	float: left;
  	padding-top: 8px;
  	padding-right: 5px;
  }
  .form-style-2 span.required{
  	color:red;
  }
  .form-style-2 .tel-number-field{
  	width: 40px;
  	text-align: center;
  }
  .form-style-2 input.input-field, .form-style-2 .select-field{
  	width: 48%;
  }
  .form-style-2 input.input-field,
  .form-style-2 .tel-number-field,
  .form-style-2 .textarea-field,
   .form-style-2 .select-field{
  	box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	border: 1px solid #C2C2C2;
  	box-shadow: 1px 1px 4px #EBEBEB;
  	-moz-box-shadow: 1px 1px 4px #EBEBEB;
  	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
  	border-radius: 3px;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	padding: 7px;
  	outline: none;
  }
  .form-style-2 .input-field:focus,
  .form-style-2 .tel-number-field:focus,
  .form-style-2 .textarea-field:focus,
  .form-style-2 .text-field:focus,
  .form-style-2 .text-field:focus,
  .form-style-2 .select-field:focus{
  	border: 1px solid #0C0;
  }
  .form-style-2 .textarea-field{
  	height:100px;
  	width: 55%;
  }
  .form-style-2 input[type=text],.form-style-2 input[type=email],.form-style-2 input[type=password],{
    height: 20px;
    width: 20px
  }
  .form-style-2 input[type=text]:focus,.form-style-2 input[type=email]:focus,.form-style-2 input[type=password]:focus{
  	border: 1px solid #0C0;
  }
  .form-style-2 input[type=submit],
  .form-style-2 input[type=button]{
  	border: none;
  	padding: 8px 15px 8px 15px;
  	background: #FF8500;
  	color: #fff;
  	box-shadow: 1px 1px 4px #DADADA;
  	-moz-box-shadow: 1px 1px 4px #DADADA;
  	-webkit-box-shadow: 1px 1px 4px #DADADA;
  	border-radius: 3px;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  }
  .form-style-2 input[type=submit]:hover,
  .form-style-2 input[type=button]:hover{
  	background: #EA7B00;
  	color: #fff;
  }
  .alert {
   font-weight: bold;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   margin-bottom: 18px;
   padding: 12px 25px 12px 24px;
   -moz-box-shadow: 3px 3px 1px 1px #CCCCCC;
   -webkit-box-shadow: 3px 3px 1px 1px #CCCCCC;
   box-shadow: 3px 3px 1px 1px #CCCCCC;
}
.alert-danger {
   background-color: #66E167;
   border-color: #D6E9C6;
   width: 280px;
   color: black;
   padding-top: 20px;
}
</style>
<div class="form-style-2">
<%= form_for @user do |f|%>
<fieldset style="width:0px">
  <legend>Sign Up</legend>
  <%= f.text_field :username,  :placeholder => "Enter name"%><br>
  <%= f.password_field :password,  placeholder: 'Enter password'%><br>
  <%= f.email_field :email,  placeholder: 'Enter email'%>

  <div>
    <br>
  <%= f.submit %>
  </div>
  </fieldset>
<%end%>
<div>
<div>
  <br>
  <%= link_to "Already have an account? Log In instead!", '/login', method: :get%>
</div>
